<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогнозирование стоимости недвижимости</title>
</head>
<body>
    <h2>Прогнозирование стоимости недвижимости</h2>
    <form action="/predict" method="post">
        <label for="crim">CRIM (Уровень преступности на душу населения):</label><br>
        <input type="text" id="crim" name="crim"><br>
        <label for="rm">RM (Среднее количество комнат):</label><br>
        <input type="text" id="rm" name="rm"><br>
        <label for="age">AGE (Доля домов, построенных до 1940 г., занимаемых владельцами):</label><br>
        <input type="text" id="age" name="age"><br>
        <label for="dis">DIS (Взвешенное расстояние до центров занятости):</label><br>
        <input type="text" id="dis" name="dis"><br>
        <label for="lstat">LSTAT (% населения с низким социальным статусом):</label><br>
        <input type="text" id="lstat" name="lstat"><br>
        <label for="nox">NOX (Концентрация оксидов азота):</label><br>
        <input type="text" id="nox" name="nox"><br>
        <button type="submit">Предсказать</button>
    </form>
    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
    {% endif %}
</body>
</html>
